* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    height: calc(100vh - 72px);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4070f4;
    column-gap: 30px;
}

.form {
    position: absolute;
    max-width: 430px;
    width: 100%;
    padding: 30px;
    border-radius: 6px;
    background: #FFF;
    box-shadow: 0 15px 15px rgba(0,0,0,0.3);
}

header {
    font-size: 28px;
    font-weight: 600;
    color: #232836;
    text-align: center;
}

form {
    margin-top: 30px;
}

.form .field {
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;
    border-radius: 6px;
}

.field input,
.field textarea,
.field button {
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
}

.field input,
.field textarea
 {
    outline: none;
    padding: 0 15px;
    border: 1px solid#CACACA;
}

.field input:focus,
.field textarea:focus {
    border-bottom-width: 2px;
}

.field button {
    color: #fff;
    background-color: #0171d3;
    transition: all 0.3s ease;
    cursor: pointer;
}

.field button:hover {
    background-color: #016dcb;
}

.form_link {
    text-align: center;
    margin-top: 20px;
}

.form_link span,
.form_link button {
    font-size: 14px;
    font-weight: 400;
    color: #232836;
}

.form_link button{
    color: #0171d3;
    text-decoration: none;
    outline: none;
    border: none;
    background-color: inherit;
    transition: 0.2s all;
}

.form_content button:hover {
    text-decoration: underline;
    letter-spacing: 1.2px;
    cursor: pointer;
}

@media screen and (max-width: 400px) {
    .form {
        padding: 20px 10px;
    }

}

.blogForm{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.blogForm .field{
    width: 80%;
}
.blogForm .field input,
.blogForm .field button{
    height: 50px;
}